<!DOCTYPE html>
<html>

  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

    <body>
    <nav class="relative px-4 py-4 flex justify-between items-center glass">
      <div class="text-3xl font-bold leading-none">

        <svg class="w-10 h-10 text-gray-300" viewBox="0 0 284 284" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 49.9851C0 49.9901 0 49.995 0 50V60.6769L72.2513 132.928L62.8508 142.329L0 79.478V205.18L62.8508 142.329L72.2513 151.729L0 223.981V234C0 261.614 22.3858 284 50 284H60.9444L132.733 212.211L142.134 221.612L79.7454 284H204.522L142.134 221.612L151.534 212.211L223.323 284H234C261.614 284 284 261.614 284 234V223.713L212.016 151.729L221.417 142.329L284 204.912V79.7455L221.417 142.329L212.016 132.928L284 60.9444V50C284 22.3858 261.614 0 234 0H223.981L151.534 72.4463L142.134 63.0458L205.18 0H79.088L142.134 63.0458L132.733 72.4463L60.2869 0H50C22.3907 0 0.00806 22.3777 0 49.9851ZM142.134 81.8468L132.733 72.4463L72.2513 132.928L81.6518 142.329L72.2513 151.729L132.733 212.211L142.134 202.811L151.534 212.211L212.016 151.729L202.616 142.329L212.016 132.928L151.534 72.4463L142.134 81.8468ZM142.134 81.8468L202.616 142.329L142.134 202.811L81.6518 142.329L142.134 81.8468Z" fill="currentColor" />
        </svg>

      </div>
      <ul class="absolute top-1/2 right-0 md:right-auto  md:left-1/2 transform -translate-y-1/2 md:-translate-x-1/2 flex mx-3 md:mx-auto items-center w-auto space-x-6">

        <li class="text-gray-200">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
          </svg>
        </li>
        <li><div class=" text-gray-200 font-semibold">Log In</div></li>
        <li class="text-gray-300">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
          </svg>
        </li>


      </ul>

    </nav>


    </body>
</html>