<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <title>New Book</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<header>
  <%- include('../yellowtoolbar.ejs', {pageLocation: 'Books'}) %>

</header>

<body>
  <div id="wrapper" class="mx-6 my-6">
    <div class="mb-4">
      <div class="uppercase">Books</div>
      <div class="text-4xl font-semibold">Add New Book</div>
    </div>
    <%- include('./bookForm.ejs', {bookIdNumber: Math.floor(Math.random()*100000000000), buildings: buildings, buildingSections: buildingSections}); %>


  </div>